body {
    display: flex;
    flex-direction: column;
    font-family: 'Fredoka One';
    height: auto;
    position: relative;
}

html, body {
    min-height: 100vh;
}


*::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
}


/* List */

ul{
    margin: 10px;
}

li{
    display: flex;
}

li p{
    margin: 0px 5px;
}

.lineThrough{
    text-decoration: line-through;
    color: gray;
}

.newListForm{
    width: 300px;
    height: 300px;
    background-color: rebeccapurple;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.listContainer{
    width: 100%;
    min-height: 40vh;
    height: auto;
    background-color: rgb(150, 132, 132);
    flex-wrap: wrap;
}


.card {
    width: 20%;
    height: 300px;
    background-color: rgba(172, 255, 47, 0.428);
    overflow: scroll;
}

/* CSS Primitives */



/* Text */

.text-xl {
    font-size: 3rem;
}

.text-l {
    font-size: 2rem;
}

.text-m {
    font-size: 1rem;
}



/* Margin */
.m-left {
    margin-left: 2rem;
}

.m-right {
    margin-right: 2rem;
}

.text-right {
    text-align: right;
}


.text-center {
    text-align: center;
}

/* Spacing */

.stack-xl {
    margin-top: 3rem;
}

.stack-l {
    margin-top: 2rem;
}

.stack-m {
    margin-top: 1rem;
}

/* flex */
.flexRow{
    display: flex;
    flex-direction: row;
}

.flexColumn{
    display: flex;
    flex-direction: column;

}

.space-between{
    justify-content: space-between;
    align-items: center;
}

.space-evenly{
    justify-content: space-evenly;
    align-items: center;
}

.center{
    justify-content: center;
    align-items: center;
}

.displayNone{
    display: none;
}



