body {
    display: flex;
    flex-direction: column;
    font-family: 'Fredoka One';
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* List */

ul{
    margin: 10px;
}

li{
    display: flex;
}

li p{
    margin: 0px 5px;
}

.lineThrough{
    text-decoration: line-through;
    color: gray;
}



.card {
    background-color: rgba(172, 255, 47, 0.428);
}

/* CSS Primitives */

/* Text */

.text-xl {
    font-size: 3rem;
}

.text-l {
    font-size: 2rem;
}

.text-m {
    font-size: 1rem;
}



/* Margin */
.m-left {
    margin-left: 2rem;
}

.m-right {
    margin-right: 2rem;
}

.text-right {
    text-align: right;
}


.text-center {
    text-align: center;
}

/* Spacing */

.stack-xl {
    margin-top: 3rem;
}

.stack-l {
    margin-top: 2rem;
}

.stack-m {
    margin-top: 1rem;
}